.technologyWrapper {
    background-color: var(--technologyColor);
    margin-top: -4px;
    padding: 25px 0;
}

.technology .mainheading {
    font-size: 35px;
    text-align: center;
    color: var(--color);
    margin-top: -55px;
}

.firstMainDiv {
    display: flex;
    flex-direction: row;
}

.firstMainDiv .firstDiv {
    display: flex;
    flex-basis: 55%;
    transform: none;
    background: linear-gradient(45deg, #d8b4fe, #818cf8);
    width: max-content;
    padding: 0.25rem;
    border-radius: 10px;
}

.firstMainDiv .firstDiv .innerFirstDiv {
    flex-basis: 100%;
    height: 160px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
}

.firstMainDiv .secondDiv {
    margin-left: 20px;
    display: flex;
    flex-basis: 45%;
    transform: none;
    background: linear-gradient(90deg, #67dabf, #4a74f4, #9136eb);
    width: max-content;
    padding: 0.25rem;
    border-radius: 10px;
}

.firstMainDiv .secondDiv .innerSecondDiv {
    flex-basis: 100%;
    height: 160px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
}

.secondMainDiv {
    display: flex;
    flex-direction: row;
}

.secondMainDiv .firstDiv {
    margin-top: 20px;
    display: flex;
    flex-basis: 40%;
    transform: none;
    background: linear-gradient(45deg, #dc2b2b, #fe81a1);
    width: max-content;
    padding: 0.25rem;
    border-radius: 10px;
}

.secondMainDiv .firstDiv .innerFirstDiv {
    flex-basis: 100%;
    height: 160px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
}

.secondMainDiv .secondDiv {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-basis: 60%;
    transform: none;
    background: linear-gradient(90deg, #fddd8d, #fca6a4, #fec8c8);
    width: max-content;
    padding: 0.25rem;
    border-radius: 10px;
}

.secondMainDiv .secondDiv .innerSecondDiv {
    flex-basis: 100%;
    height: 160px;
    width: 100px;
    background-color: black;
    border-radius: 10px;
}

.firstMainDiv .firstDiv .innerFirstDiv,
.firstMainDiv .secondDiv .innerSecondDiv,
.secondMainDiv .firstDiv .innerFirstDiv,
.secondMainDiv .secondDiv .innerSecondDiv {
    color: white;
}

.firstMainDiv .firstDiv .innerFirstDiv h3,
.firstMainDiv .secondDiv .innerSecondDiv h3,
.secondMainDiv .firstDiv .innerFirstDiv h3,
.secondMainDiv .secondDiv .innerSecondDiv h3 {
    font-size: 23px;
    margin-left: 31px;
    margin-bottom: 15px;
}

.firstMainDiv .firstDiv .innerFirstDiv ul li,
.firstMainDiv .secondDiv .innerSecondDiv ul li,
.secondMainDiv .firstDiv .innerFirstDiv ul li,
.secondMainDiv .secondDiv .innerSecondDiv ul li {
    list-style-type: disclosure-closed;
    margin-left: 9px;
    font-size: 17px;
}

.firstMainDiv .firstDiv:hover,
.firstMainDiv .secondDiv:hover,
.secondMainDiv .firstDiv:hover,
.secondMainDiv .secondDiv:hover {
    transform: scale(1.03);
}