@media (max-width: 1024px) {
    .footer {
        padding: 5px 60px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 5px 30px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 5px 10px;
    }
}