.footer {
    background-color: black;
    padding: 15px 0;
    margin-top: 32px;
}

.footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #63d1c5;
}

.footer .icons a {
    color: #63d1c5;
}

.footer .icons i {
    cursor: pointer;
}

.footer .icons i:hover {
    transform: scale(1.2);
}

.owner {
    margin-bottom: -22px;
}

.owner h3 {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
}

.owner i {
    color: red;
    margin-right: 4px;
    margin-left: 10px;
}

.owner i:hover {
    transform: scale(1.2);
}

.owner h3 span {
    color: #63d1c5;
}