@media (max-width: 1024px) {
    .navbar {
        padding: 0 60px;
    }
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 30px;
    }
}

@media (max-width: 600px) {
    .navbar {
        padding: 0 10px;
    }
}

@media (max-width: 432px) {

    .navbar {
        padding: 0 10px;
    }
}